.landing{
    background-color: rgb(229, 219, 255);
    background-size: cover;
    height: 200px;
    font-size: 5rem;
    font-family: sans-serif;
}
.menu{
    padding-top: 15px;
    background-color: rgb(149, 153, 212);
    background-size: cover;
    height: 600px;
}
